<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<br/>
<p>Fill the form</p>
<br/>
<br/>
<form action="/products/add" method="post" th:object="${productCreateDto}">
    <p>Marketplace:</p>
    <div th:each="marketplace : ${marketplaces}">
        <label th:for="${marketplace}" >
        <input th:id="${marketplace}" type="radio" name="marketplace" th:value="${marketplace.name}" th:text="${marketplace.name}">
        </label>
    </div>
    <br/>
    <label for="vendorCode">Vendor code:
        <input id="vendorCode" type="text" name="name" th:value="*{vendorCode}">
    </label>
    <br/>
    <br/>
    <label for="discount">Discount:
        <input id="discount" type="text" name="discount" th:value="*{discount}">
    </label>
    <br/>
    <br/>
    <button type="submit">Add product</button>
</form>
</body>
</html>